*{
    margin: 0;
    padding: 0;

}

/* title section */
#title{
    height: auto;
    background-color: #072049;
    margin: 0;
    width: 100% !important;
}

.logoimg{
    height: 125px;
    width: 125px;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 #ffff;
}

.child{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #072049;
    align-items: center;
    
}

.head{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

/* data analysis rule-section  */
#udarule{
    margin: 2% 1%;
    background-color: #072049;
    border-radius: 1rem;
    height: 420px;
}
h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.dacode{
    padding: 2rem 6rem;
    color: white;
    line-height: 1.5rem;;
}

/* section-rcdrule */

#rcdrule{
    margin: 2% 1%;
    background-color: #072049;
    border-radius: 1rem;
    height: 370px;
}

.rcode{
    padding: 2rem 6rem;
    color: white;
    line-height: 1.5rem;;
}

/* cdrule section */

#cdrule{
    margin: 2% 1%;
    background-color: #072049;
    border-radius: 1rem;
    height: 370px;
}

.cdcode{
    padding: 2rem 6rem;
    color: white;
    line-height: 1.5rem;;
}

/* itrule section */

#itrule{
    margin: 2% 1%;
    background-color: #072049;
    border-radius: 1rem;
    height: 470px;
}

.itcode{
    padding: 2rem 6rem;
    color: white;
    line-height: 1.5rem;;
}

/* BUTTON 

.btnsec{
    background-color: white;
    margin: 2rem 0;
    width: 100%;
    height: 100px;
}
 .btton{
    
    padding: 2.5rem; 
}
.btn2{
    margin-left: 32rem;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 40px;
    border: 1px solid #061d4200;
    border-radius: 8px;
    background: #083a8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#083a8a), to(#061d42));
    background: -moz-linear-gradient(top, #083a8a, #061d42);
    background: linear-gradient(to bottom, #083a8a, #061d42);
    font: normal normal bold 30px verdana;
    color: #ffffff;
    text-decoration: none;
}
.btn:hover,
.btn:focus {
    border: 1px solid #07204900;
    background: #0a46a6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a46a6), to(#07234f));
    background: -moz-linear-gradient(top, #0a46a6, #07234f);
    background: linear-gradient(to bottom, #0a46a6, #07234f);
    color: #ffffff;
    text-decoration: none;
}
.btn:active {
    background: #052353;
    background: -webkit-gradient(linear, left top, left bottom, from(#052353), to(#061d42));
    background: -moz-linear-gradient(top, #052353, #061d42);
    background: linear-gradient(to bottom, #052353, #061d42);
}
*/
.btnsec{
   display: flex;
   justify-content: center;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 40px;
    border: 1px solid #061d4200;
    border-radius: 8px;
    background: #083a8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#083a8a), to(#061d42));
    background: -moz-linear-gradient(top, #083a8a, #061d42);
    background: linear-gradient(to bottom, #083a8a, #061d42);
    font: normal normal bold 30px verdana;
    color: #ffffff;
    text-decoration: none;
}


.btn:hover,
.btn:focus {
    border: 1px solid #07204900;
    background: #0a46a6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a46a6), to(#07234f));
    background: -moz-linear-gradient(top, #0a46a6, #07234f);
    background: linear-gradient(to bottom, #0a46a6, #07234f);
    color: #ffffff;
    text-decoration: none;
}
.btn:active {
    background: #052353;
    background: -webkit-gradient(linear, left top, left bottom, from(#052353), to(#061d42));
    background: -moz-linear-gradient(top, #052353, #061d42);
    background: linear-gradient(to bottom, #052353, #061d42);
}
/* footer section */
#footer{
    margin: 2% 0 0 ;
    background-color: #072049;
    height: 340px;
}

.about{
    padding: 2rem 6rem;
    color: white;
    text-align: center;
    line-height: 2.9rem;
}

.pabout{
    font-size: 1.5rem;  
}

@media screen and (min-device-width: 200px) and (max-device-width: 800px) { 
    .img2{
        display: none;
    }
    .child{
        flex-wrap: wrap;
        text-align: center;
    }
    .head{
        padding: 25px 20px;
    }
    #udarule{
        height: 930px;
    }
    .dacode{
        padding: 2rem 1rem;
        color: white;
        line-height: 1.5rem;;
    }
    #rcdrule{
        height: 900px;
    }
    .rcode{
        padding: 2rem 1rem;
        color: white;
        line-height: 1.5rem;;
    }
    #cdrule{
        height: 800px;
    }
    .cdcode{
        padding: 2rem 1rem;
        color: white;
        line-height: 1.5rem;;
    }
    
    #itrule{
        height: 940px;
    }
    .itcode{
        padding: 2rem 1rem;
        color: white;
        line-height: 1.5rem;;
    }
    h2{
        line-height: 2.5rem;
    }

    /* .btton{
    
        padding: 2.1rem; 
    }
    .btn2{
        margin-left: 2rem;
    }
    .btn {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 20px 30px;
        border: 1px solid #061d42;
        border-radius: 8px;
        background: #083a8a;
        background: -webkit-gradient(linear, left top, left bottom, from(#083a8a), to(#061d42));
        background: -moz-linear-gradient(top, #083a8a, #061d42);
        background: linear-gradient(to bottom, #083a8a, #061d42);
        font: normal normal bold 10px verdana;
        color: #ffffff;
        text-decoration: none;
    }
    .btn:hover,
    .btn:focus {
        border: 1px solid #072049;
        background: #0a46a6;
        background: -webkit-gradient(linear, left top, left bottom, from(#0a46a6), to(#07234f));
        background: -moz-linear-gradient(top, #0a46a6, #07234f);
        background: linear-gradient(to bottom, #0a46a6, #07234f);
        color: #ffffff;
        text-decoration: none;
    }
    .btn:active {
        background: #052353;
        background: -webkit-gradient(linear, left top, left bottom, from(#052353), to(#061d42));
        background: -moz-linear-gradient(top, #052353, #061d42);
        background: linear-gradient(to bottom, #052353, #061d42);
    } */
    
      #footer{
        margin: 2% 0 0;
        background-color: #072049;
        height: 210px;
    }
    
    .habout{
        color: white;
        text-align: center;
        font-size: medium;
    }
    .about{
        padding: 0rem 1rem;
        color: white;
        text-align: center;
    }
    .pabout{
        line-height: 1.5rem;
        font-size: small;
    }
}

