
*{
    margin: 0;
    padding: 0;
    border: none;
}
#title{
    height: auto;
    width: 1rem;
    color: #371B58;
}
.dcolumn{
       display: none !important;
}
.img1{
    height: 7.8125rem;
    width: 9.8125rem;
    /* margin-right: 2rem;   */
}
.img2{
    height: 7.8125rem;
    width: 11.375rem;
    /* margin-right: 2rem;   */
}
.img21{
    display: none;
}
.img3{
    height: 7.8125rem;
    width: 10.375rem;
    /* margin-right: 4rem;   */
}
.img4{
    height: 7.8125rem;
    width: 18rem;
}
.img41{
    display: none;
}
.child{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.625rem;
    background-color: #F9F9F9;
    text-align: center;
}

.head{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #371B58;
    text-align: center;
}
.h6head{
    display: flex;
    justify-content: center;
    padding: 0 0.75rem 0.75rem;
    text-align: center;
    font-weight: 600;
    background-color: #F9F9F9;
    color: #371B58;
}
h6{
    margin-right: 8rem;
}

/* nav section */
.nav-link{
    font-size: 1.25rem !important;
    font-weight: bold;
}
.ms-1{
    margin-left: (spacer * .25) !important;

}
.textcolor{
    color: #F9F9F9 !important;
    margin-right: 1.5rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600 !important;
}
.headcolor{
    font-family: 'Pacifico', cursive;
    color: #F7D716 !important;
}

/* data analysis rule-section  */
#udarule{
    margin: 2% 1%;
    background-color: #F9F9F9;
    border-radius: 1rem;
    height: auto;
    box-shadow: inset 5px 5px 28px 0px rgba(0,0,0,0.1),inset -5px -5px 50px 0px rgba(0,0,0,0.1);
}
.h2head{
    color: #371B58;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.dacode{
    padding: 2% 6%;
    color: #371B58;
    line-height: 1.5rem;;
}

/* section-rcdrule */

#rcdrule{
    margin: 2% 1%;
    background-color: #F9F9F9;
    border-radius: 1rem;
    height: auto;
    box-shadow: inset 5px 5px 28px 0px rgba(0,0,0,0.1),inset -5px -5px 50px 0px rgba(0,0,0,0.1);
}

.rcode{
    padding: 2% 6%;
    color: #371B58;
    line-height: 1.5rem;
}

/* cdrule section */

#cdrule{
    margin: 2% 1%;
    background-color: #F9F9F9;
    border-radius: 1rem;
    height: auto;
    box-shadow: inset 5px 5px 28px 0px rgba(0,0,0,0.1),inset -5px -5px 50px 0px rgba(0,0,0,0.1);
}

.cdcode{
    padding: 2% 6%;
    color: #371B58;
    line-height: 1.5rem;;
}

/* itrule section */

#itrule{
    margin: 2% 1%;
    background-color: #F9F9F9;
    border-radius: 1rem;
    height: auto;
    box-shadow: inset 5px 5px 28px 0px rgba(0,0,0,0.1),inset -5px -5px 50px 0px rgba(0,0,0,0.1);
}

.itcode{
    padding: 2% 6%;
    color: #371B58;
    line-height: 1.5rem;;
}

/* register button section */
.btnsec{
    display: flex;
    justify-content: center;
    border-radius: 0.625rem;
 }
 .rbtn{
    color: #F9F9F9;
    background-color: #371B58;
    text-decoration: none;
    font-weight: bold;
    padding: 10% 20%;
    border-radius: 0.625rem;
 }

 .rbtn:hover{
    color: #f9f9f9;
    background: linear-gradient(to bottom, #371B58, #231137);
 }

 /* footer section */
#footer{
    margin: 2% 0 0 ;
    background-color: #371B58;
    height: auto;
    box-shadow: inset 0px 0px 100px -64px #371B58,inset 0px 0px 5px -100px #371B58;
}

.habout{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.about{
    padding: 2rem;
    color: #F9F9F9;
    text-align: center;
    line-height: 2rem;
}

.pabout{
    font-size: 1rem;  
    line-height: 1.5rem;
}
.extra
{
    display: none;
}
.contact{
    direction: ltr;
    color: #F9F9F9;
}
@media screen and (min-device-width: 200px) and (max-device-width: 1000px) { 
    #titles{
        height: auto;
        width: 100%;
    }
    .dcolumn{
        display: flex;
        flex-direction: column;
    }
    .child{
        padding: 1.625rem 0.625rem 0;
        display: flex;
        justify-content:space-evenly;
    }
    .img1{
        height: 4.8125rem;
        width: 8.8125rem;
        /* margin-right: 2rem;   */
    }
    .img3{
        height: 5.8125rem !important;
        width: 8.375rem;
        /* margin-right: 4rem;   */
    }
    .img2{
        display: none;
    }
    .img21{
        display:inline-block;
        width: 10.8125rem;
        height: 6.8125rem;
    }
    .img3{
        height: 7.8125rem;
        width: 9.375rem;
        /* margin-right: 4rem;   */
    }
    .img4{
        display: none;
    }
    .img41{
        display: block;
        width: 14.8175rem;
        margin: 1.5rem 0 0;
    }
    .head{
        padding: 1.625rem 0 0;
        font-size: larger;
    }
    .h6head{
        display: flex;
        justify-content: center;
        padding: 0 0.75rem 0.75rem;
        text-align: center;
        font-weight: 600;
        background-color: #F9F9F9;
        color: #371B58;
    }
    h6{
        margin: 0;
    }
    #udarule{
        margin: 4% 3%;
    }
    .dacode{
        padding: 1rem;
    }
    #rcdrule{
        margin: 4% 3%;
    }
    .rcode{
        padding: 1rem;
    }
    #cdrule{
        margin: 4% 3%;
    }
    .cdcode{
        padding: 1rem;
    }
    #itrule{
        margin: 4% 3% 0;
    }
    .itcode{
        padding: 1rem;
    }
    h2{
        text-align: center;
    }
    .btnsec{
        padding: 2rem;
     }
     .rbtn{
        padding: 1rem;
     }
     #footer{
        margin: 0.02rem 0 0 ;
        background-color: #371B58;
        height: auto;
        box-shadow: inset 0px 0px 100px -64px #371B58,inset 0px 0px 5px -100px #371B58;
    }
    
    .habout{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 900;
        line-height: 4rem;
    }
    
    .about{
        padding: 1rem;
        color: #F9F9F9;
        text-align: center;
        line-height: 2rem;
    }
    
    .pabout{
        font-size: 1rem;  
    }

}
